body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EEF9BF;
    padding-top: 40px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ctn-status {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    color: #75B79E;
    font-weight: bold;
    font-size: 20px;
}

h1 {
    font-size: 56px;
    color: #75B79E;
    text-align: center;
}

.ctn-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    width: 70vw;
    margin-top: 47px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 14vw;
    height: 15vw;
    min-width: 117px;
    min-height: 125px;
    border-radius: 4px;
    margin: 10px 10px;
}
.red {
    background-color: red;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
  }

 
  .back-face {
    transform: rotateY(180deg);
  }

  .card.active .back-face {
    transform: rotateY(0deg);
  }

  .card.active .front-face {
    transform: rotateY(-180deg);
  }

.card img {
    width: 80%;
    height: 80%;
}

strong {
    font-weight: bold;
}

.unselectable {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

/*MAKING IMAGES UNDRAGGABLE*/
img {
    pointer-events: none;
}

